<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kongqw.qqhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>

        <meta-data
            android:name="qq_app_id"
            android:value="${QQ_APP_ID}" />

        <activity
            android:name=".share.QQShareActivity"
            android:theme="@style/Transparent" />

        <activity
            android:name=".login.QQLoginActivity"
            android:theme="@style/Transparent" />

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${QQ_APP_ID}" />
            </intent-filter>
        </activity>

    </application>
</manifest>
